.box{
    position: relative;
    width: 700px;
    height: 400px;
    background-color: lightblue;
    margin: 5% auto;
}
.ball{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: palevioletred;
    border-radius: 50%;
}